<div class="item about_us">
  <p>
    Lineas de atencion al cliente.
  </p>
  <hr>
  <p>
    +57(4) 444 9598 <br>
    +57(4) 454 8888
  </p>
</div>
<div class="item about_us2">
  <img src="img/calidad.png" alt="Linea del metro">
</div>
