<div class="item img">
  <img src="img/tittle.png" class="imagen" alt="Logo metro1">
</div>
<div class="item bienvenido">
  <p>Has ingresado al portal del metro para poder ingresar debes de tener un usuario o registrarte</p>
</div>
