<div class="item sign_in">
  <form class="form" action="index.html" method="post">
    <h2>¡Hola!</h2>
    <hr>
    <p>
      <strong>Bienvenido al portal del metro, ¿Ya tienes tu usuario?</strong>
    </p>
    <input type="text" placeholder="Usuario"> <br> <br>
    <a class="boton" href="/">Entrar</a>
    <br><br>
    <p class="pag"> <strong>O registrate en la <a href="/register">pagina</a></strong>
    </p>
  </form>
</div>
