<div class="item register">
  <form class="form" action="index.html" method="post">
    <h2>Ingresa los siguientes datos</h2>
    <hr>
    <p>
      <strong class="nombre">Nombre</strong><input type="text" placeholder="Nombre">
    </p>
    <strong class="edad">Edad</strong><input type="text" placeholder="Edad"><br>
    <strong class="sex">Sexo</strong><select class="sexo">
      <option value="masculino">Masculino</option>
      <option value="femenino">Femenino</option>
      <option value="otro">Otro</option>
    </select> <br>
    <hr>
    <p class="registrar"><a class="boton" href="/">Registrarse</a></p>
  </form>
</div>
