body {
  font-family: verdana;
  max-width: 800px;
  margin: 0 auto;
}
.container{
  display: grid;
  grid-template: 120px 50px 1fr 150px / repeat(2, minmax(100px, 1fr));
  height: 105vh;
  grid-template-areas: "img img"
                       "bienvenido bienvenido"
                       "sign_in sign_in"
                       "about_us about_us2";
  background: white;
  /* grid-gap: 5px; */
  /* justify-items: start end center stretch; */
  /* align-items: start end center stretch; */
  /* grid-column-gap: 5px;
  grid-row-gap: 0px;
  grid-gap: filas columnas
  grid-template: filas / columnas */
}
/* .item:nth-of-type(1) {
  background: blue;
} */
.img {
  align-content: center;
  flex-wrap: wrap;
  display: grid;
  grid-area: img;
  margin-top: 0px;
  max-width: 800px;
}
.imagen{
  max-width: 800px;
  min-width: 300px;
  height: 200px;
  margin-left: 65px;
}
.bienvenido{
  display: grid;              /*Tipo de display*/
  width: auto;                /*Ancho del cuadro grid*/
  color: white;
  border-radius: 10px;
  align-content: center;      /*Aliena de arriba y abajo */
  justify-content: center;    /*Alinear de derecha a izquierda*/
  font-size: 15px;            /*Altura de la letra*/
  grid-area: bienvenido;      /*Area del grid*/
  margin-bottom: auto;
  background:  #171317;       /*Fondo*/
  align: center;
}
.sign_in{
  display: grid;
  grid-area: sign_in;
  align-content: center;
  justify-content: center;
  color: white;
}
.form{
  text-align: center;
  background: #7bba51;
  max-width: 436px;
  height: 232.55px;
  border: 2px solid black;
  border-radius: 10px;
}
.form input{
  width: 76%;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}
.form p{
  font-size: 15px;
}
.form h2{
  color: white;
  font-size: 30px;
  margin-bottom: 1em;
}
.form a{
  color: white;
}
.about_us{
  background:  #171317;
  display: grid;
  color: white;
  width: 800px;
  border-radius: 10px;
  grid-area: about_us;
  margin-top: auto;
  margin-bottom: auto;
}
.about_us hr{
  margin-right: 200px;
  width: 700px;
  color: #7bba51;
}
.about_us p{
  margin-left: 10px;
}
.about_us2 {
  display: grid;
  grid-area: about_us2;
  align-content: center;
}
.about_us2 img{
  width: 160px;
  margin-left: 200px;
  }
