body {
  font-family: Arial;
  width: 800px;
  margin: 0 auto;
  /* background: #221d1d; */
}
.container{
  display: grid;
  grid-template: 150px 50px 1fr 200px / repeat(2, minmax(100px, 1fr));  /* fr es un espacio de medida */
  height: 105vh;
  grid-template-areas: "img img"
                       "bienvenido bienvenido"
                       "sign_in sign_in"
                       "about_us about_us2";
  background: white;
  /* grid-gap: 5px; */

  /* justify-items: start end center stretch; */
  /* align-items: start end center stretch; */
  /* grid-column-gap: 5px;
  grid-row-gap: 0px;
  grid-gap: filas columnas
  grid-tem  plate: filas / columnas */
}
/* .item:nth-of-type(1) {
  background: blue;
} */
.img{
  align-content: center;
  display: grid;
  grid-area: img;
  margin-top: 0px;

}
.bienvenido{
  display: grid;              /*Tipo de display*/
  width: auto;                /*Ancho del cuadro grid*/
  color: white;               /*Color de la letra*/
  border-radius: 10px;
  align-content: center;      /*Aliena de arriba y abajo */
  justify-content: center;    /*Alinear de derecha a izquierda*/
  font-size: 15px;            /*Altura de la letra*/
  grid-area: bienvenido;      /*Area del grid*/
  height: auto;               /*Altura del cuadro del grid*/
  background:  #231f20;       /*Fondo*/
}
.sign_in{
  display: grid;
  grid-area: sign_in;
  align-content: center;
  justify-content: center;
  color: white;
  background: #231f20;
  margin-right: 143px;
  margin-left: 143px;
  margin-top: 55px;
  margin-bottom: 25px;
  border-radius: 10px;
  /* width: 510px;
  height: 222px;  */
}
/* .sign_in hr{
  display: grid;
  color: black;
  width: 800px;
} */
.form{
  text-align: center;
  background: #65bd24;
  /* padding: 1.5em; hancha mas el recuadro del form */
  width: 500px;
  border-radius: 10px;
}
.form input{
  width: 76%;
  padding: 10px;
  font-size: 200px
  border-radius: 5px;
  border: 1px solid black;
  box-sizing: border-box;
}
.form h2{
  color: white;
  margin-bottom: 1em;
  font-size: 30px;
}
.form button{
  width: auto;
  border-radius: 3px;
  background-position: center;
}
.about_us{
  background:  #231f20;
  display: grid;
  color: white;
  width: 800px;
  border-radius: 10px;
  grid-area: about_us;
  font-size: 11px;
  justify-content: flex-start;
  margin-top: 80px auto;
  margin-bottom: 50px;
}
.about_us p{
  
}
.about_us2 {
  display: grid;
  grid-area: about_us2;
}
.about_us2 img{
  display: grid;
  width: 150px;
  margin-left: 200px;
  margin-bottom: auto;
}
